.idea
cmake-build-debug
build
/build/CMakeFiles/FaultyChat.dir/build.make
/build/CMakeFiles/FaultyChat.dir/build.make
/build/CMakeFiles/FaultyChat.dir/build.make
/build/CMakeFiles/FaultyChat.dir/cmake_clean.cmake
/build/CMakeFiles/FaultyChat.dir/CXX.includecache
/build/CMakeFiles/FaultyChat.dir/depend.internal
/build/CMakeFiles/FaultyChat.dir/depend.make
/build/CMakeFiles/FaultyChat.dir/DependInfo.cmake
/build/CMakeFiles/FaultyChat.dir/link.txt
/build/CMakeFiles/FaultyChat.dir/main.cpp.o
/build/CMakeFiles/FaultyChat.dir/progress.make
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/build/CMakeFiles/progress.marks
/build/CMakeFiles/TargetDirectories.txt
/build/FaultyChat.exe
/build/Makefile
/build/win/CMakeFiles/PDcurses.dir/progress.make
/build/CMakeFiles/FaultyChat.dir/build.make
build1
/build1
